@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    font-family: 'Nunito', sans-serif !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: #eff1f4;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    font-family: 'Nunito', sans-serif !important;
}



::-webkit-scrollbar-button {
    display: none;
    height: 0;
    width: 0;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: #dcdcdc84;
    /* Oqdan xira */
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #ffffff;
    /* Oq */
    border-radius: 10px;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input {
    -moz-appearance: textfield;
    /* Firefox */
}