@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    border: none;
    outline: none
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: #f0f0f0;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

/* Webkit (Chrome, Safari) uchun scroll bar */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Scrollbar yo‘li */
::-webkit-scrollbar-track {
    background: #d9d9d9;
    /* Oq rangga yaqin */
    border-radius: 10px;
}

/* Scrollbar g‘ildiragi */
::-webkit-scrollbar-thumb {
    background: #aaaaaa;
    /* Yo‘ldan sal kulrangroq */
    border-radius: 9999px;
    /* rounded-full */
}

/* Hover qilinganda g‘ildirak biroz to‘qroq bo‘lsin */
::-webkit-scrollbar-thumb:hover {
    background: rgb(136, 136, 136);
}

input {
    font-family: 'Poppins', sans-serif !important;
    font-size: 16px !important;
}